.config-h3 {
    margin: 10px;
}
  
.config-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}
  
.config-margin {
    margin: 25px;
}

.config-label{
    color: #9e9e9e;
    font-weight: 500;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9e9e9e;
    opacity: 1; /* Firefox */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#9e9e9e;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #9e9e9e;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
  }
